<div class="container mt-5">
  <div class="loginPart d-flex flex-column align-items-center">
    <div class="title mb-4">
      <h2>Account Login</h2>
    </div>

    <div class="loginArea">
      <form action="/login" method="POST" class="d-flex flex-column align-items-center">
        <div class="form-group" style="width: 350px;">
          <input type="email" class="form-control border-dark" aria-describedby="emailHelp" placeholder="Email"
            name="email" value="">
        </div>

        <div class="form-group" style="width: 350px;">
          <input type="password" class="form-control border-dark" placeholder="Password" name="password" value="">
        </div>

        <button type="submit" class="btn btn-outline-dark mt-4">Sign in</button>
      </form>
    </div>
    {{#if errorMsg}}
    <div class="alert alert-danger mt-3" role="alert">
      <i class="fas fa-exclamation-triangle mr-2"></i>{{errorMsg}}
    </div>
    {{/if}}
  </div>

</div>